.leftContainer {
  height: 100vh;
  width: 50vh;
  display: flex;
  flex-direction: column;
}

.wholeContainer {
  display: flex;
  justify-content: space-around;
  margin-top: auto;
}

.header {
  width: 100%;
  height: 5.5vh;
  background-color: aqua;
}
.content {
  display: flex;
  justify-content: center;
}
.logout {
  display: flex;
  justify-content: flex-end;
  background-color: orange;
  margin-left: auto;
  /* margin-right: 10px; */
  padding: 15px;
}

.dropDown {
  display: flex;
  margin: 30px;
  padding: 10px;
}
.Strategicplanning {
  border-radius: 5px;
  margin: 10px;
}

.contents {
  display: flex;
  justify-content: space-around;
}
.targetAudience {
  height: 50vh;
  width: 80%;
  border-radius: 5px;
  background-color: aliceblue;
}
.align {
  display: flex;
  flex-wrap: wrap;
  margin-left: -100px;
  justify-content: space-around;
}
.targetAudience {
  width: 50%;
  height: 25vh;
  background-color: lightgray;
  /* margin: 10px; */
  margin-right: -10px;
  margin-top: 10px;
}
.targetAudienceAnalysis {
  display: flex;
  background-color: aliceblue;
  height: 55vh;
  justify-content: space-around;
  flex-wrap: wrap;
}
.brand {
  margin-top:20px;
  margin-left: -355px;
}
.strategicImperative {
  display: flex;
  width: 45%;
  background-color: lightgray;
  border-radius: 5px;
  height: 25vh;
  margin-left: auto;
  padding-left: 25px;
  margin: 5px;
  margin-top: 10px;
}
.behavorialAnalysis {
  height: 25vh;
  width: 100%;
  background-color: lightgray;
  margin-bottom: auto;
  border-radius: 5px;
  margin: 10px;
  overflow-x: hidden;
  overflow-y: auto;
  /* overflow-y: hidden; */
  /* overflow-x: auto; */
}
.behavorialAnalysiscontent {
  display: flex;
  justify-content:space-evenly;
  margin-right: -1000px;
  /* margin-top: -150px; */ 
}
.parent {
  display: flex;
}

.addNew {
  width: 15%;
  margin-top: -70px;
  color: lightgrey;
  /* margin-left: -150px; */
}

.behavorialAnalysiscontentDefault{
  display: flex;
  justify-content:space-evenly;
  margin-left:-120px
}